<h1><%= @restaurant.name %></h1>
<p>
  <strong>Address</strong>:
  <%= @restaurant.address %>
</p>
<p>
  <strong>Phone Number</strong>:
  <%= @restaurant.phone_number %>
</p>
<p>
  <strong>Category</strong>:
  <%= @restaurant.category %>
</p>
<% if @restaurant.reviews.empty? %>
  <p>Be the first to add a review</p>
<% else %>
  <p><strong>Reviews:</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
        Rating: <%= review.rating %>
        <br>
        <%= review.content %>
      </li>
    <% end %>
  </ul>
<% end %>
<div class="w-50 border rounded p-3 my-3">
  <p><strong>New Review:</strong></p>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, as: :numeric, inclusion: Review::RATINGS_RANGE %>
    <%= f.submit "Submit review", class: 'btn btn-primary' %>
  <% end %>
</div>
<hr>
<%= link_to 'Back to all Restaurants', root_path %>
